In [185]:
import pandas as pd

In [186]:
df = pd.read_csv('/Users/mikezinovenkov/Downloads/data.csv')

In [187]:
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [188]:
list(df[(df['name'] == 'Taco Bell') & (df['city'] == 'California')].index)

[52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939]

In [189]:
list(df[df['city'] == 'California']['id'])

['AVwdBeyk_7pvs4fz1cwP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdKTFqIN2L1WUfs1SP',
 'AVwdvUhykufWRAb58z0G']

In [190]:
data = df

In [191]:
data[((data['name'] == 'Taco Bell') | (data['city'] == 'New York')) & ~(data['menus.name'].isin(['Volcano Taco', 'Fresco Soft Taco']))]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
135,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Grilled Steak Soft Taco,Taco Bell,NH
136,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Crunchy Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

In [192]:
data[~(data['menus.currency'].isna())]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [193]:
data['categories']

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [194]:
data[['categories']]

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [195]:
data.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [196]:
r = data.groupby(['city', 'name'], as_index=False).agg({'id': 'count'})

In [197]:
r

               city                       name  id
0         Abbeville                 Mcdonald's   1
1         Abbeville             Sonic Drive In   6
2          Aberdeen                   Hardee's   1
3          Aberdeen        Lighthouse Drive-in   1
4          Aberdeen             Sonic Drive In   5
...             ...                        ...  ..
17403   Zephyrhills          Long John Silvers   1
17404   Zephyrhills            Popeyes Chicken   1
17405  Zieglerville         Ortino's Northside   1
17406    Zionsville  Carolina Grill & Tap Room   1
17407    Zionsville               The Tap Room   1

[17408 rows x 3 columns]

In [198]:
ans = r[r['name'] == 'Taco Bell'].sort_values(by='id', ascending=False)[{'city','id'}].set_index('city').head(5)

In [199]:
ans['id']

city
Indianapolis    84
Columbus        63
Charleston      63
Tampa           62
Fresno          42
Name: id, dtype: int64

In [200]:
data.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [201]:
data['dateAdded'] = pd.to_datetime(data['dateAdded'])

In [202]:
data[data['dateAdded'].dt.month == 10].head(5)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
21,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Crispy house-smoked pork belly, hoisin sauce, ...",Korean Pork Belly Tacos,Riff's Joint,Westhampton
22,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, corn and black bean salsa, guacam...",Speedy Gonzalez Burrito,Riff's Joint,Westhampton
23,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, jasmine rice and peanut slaw",Thai Dyed Burrito,Riff's Joint,Westhampton
24,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, cheddar, salsa, rice, sour cream,...",Burrito Supreme,Riff's Joint,Westhampton

In [206]:
data['month'] = data['dateAdded'].dt.month

In [207]:
data

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,month
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,3
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,3
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,10
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,9
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California,6
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California,6
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California,6
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California,6
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California,6

In [208]:
data.groupby('month').agg({'id':'nunique'})

         id
month
1       308
2       257
3      4970
4      3224
5      1141
6      1356
7       645
8       479
9       554
10     4716
11     1550
12      239

In [263]:
data['update_delta'] = (pd.to_datetime(data['dateUpdated']) - pd.to_datetime(data['dateAdded'])).dt.days

In [264]:
data

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,month,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,3,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,3,336
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,10,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,9,24
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,5,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California,6,0
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California,6,0
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California,6,0
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California,6,0
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California,6,0

In [ ]:
data

In [259]:
data['update_delta'].median()

364.0

In [227]:
result = data.groupby('city', as_index=False).agg({'update_delta': 'mean'})

In [229]:
result[result['city'] == 'Zephyrhills']['update_delta']

3598    329.695652
Name: update_delta, dtype: float64

In [233]:
result = data.groupby('city', as_index=False).agg({'update_delta': 'mean', 'latitude': 'max'})

In [235]:
float(result[result['city'] == 'Zephyrhills']['update_delta'])

329.69565217391306

In [268]:
data['count_cat'] = data['categories'].str.count(',')

In [288]:
ans = data[data['count_cat'] > 19]

In [289]:
ans = ans.groupby('province').agg({'longitude':'min'})
ans['longitude'] = round(ans['longitude'],3)

In [290]:
ans.to_csv('data.csv', sep=';')

In [291]:
ans

              longitude
province
AZ             -110.136
CA             -122.417
DC              -77.075
G P O           -73.990
KY              -87.455
MA              -71.055
MD              -77.453
NY              -76.794
St Simons Is    -81.394
TX              -94.939
VA              -77.093
WA             -122.383
WI              -89.377

In [255]:
y = pd.DataFrame(df)

In [256]:
y[y['categories'] == True]

       categories
0            True
1            True
66           True
67           True
158          True
...           ...
76256        True
76291        True
76507        True
76669        True
76709        True

[1538 rows x 1 columns]

In [450]:
df = pd.read_csv('/Users/mikezinovenkov/Downloads/playstore.csv', index_col=0)

In [451]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [301]:
df['App'].nunique()

9659

In [304]:
df['Rating'].isnull().sum()

1474

In [308]:
df.iloc[6:9]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up

In [495]:
a1 = df[['App', 'Size', 'Genres', 'Current Ver']][0:3]
a2 = df[['App', 'Size', 'Genres', 'Current Ver']][5:8]
a3 = df[['App', 'Size', 'Genres', 'Current Ver']][15:19]

In [499]:
ans = pd.concat([a1,a2,a3])

In [497]:
ans

In [500]:
ans

,App,Size,Genres,Current Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,19M,Art & Design,1.0.0
1,Coloring book moana,14M,Art & Design;Pretend Play,2.0.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",8.7M,Art & Design,1.2.4
5,Paper flowers instructions,5.6M,Art & Design,1.0
6,Smoke Effect Photo Maker - Smoke Editor,19M,Art & Design,1.1
7,Infinite Painter,29M,Art & Design,6.1.61.1
15,Learn To Draw Kawaii Characters,2.7M,Art & Design,NaN
16,Photo Designer - Write your name with shapes,5.5M,Art & Design,3.1
17,350 Diy Room Decor Ideas,17M,Art & Design,1.0
18,FlipaClip - Cartoon animation,39M,Art & Design,2.2.5

In [501]:
ans.to_csv('ans.csv')

In [387]:
pd.read_csv('ans.csv')

,Unnamed: 0,App,Size,Genres,Current Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,19M,Art & Design,1.0.0
1,1,Coloring book moana,14M,Art & Design;Pretend Play,2.0.0
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",8.7M,Art & Design,1.2.4
3,6,Smoke Effect Photo Maker - Smoke Editor,19M,Art & Design,1.1
4,7,Infinite Painter,29M,Art & Design,6.1.61.1
5,8,Garden Coloring Book,33M,Art & Design,2.9.2
6,16,Photo Designer - Write your name with shapes,5.5M,Art & Design,3.1
7,17,350 Diy Room Decor Ideas,17M,Art & Design,1.0
8,18,FlipaClip - Cartoon animation,39M,Art & Design,2.2.5
9,19,ibis Paint X,31M,Art & Design,5.5.4

In [452]:
df.shape

(10840, 13)

In [453]:
data = df.drop_duplicates(subset=['App'])

In [454]:
data.reset_index(drop= True)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9654,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
9655,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
9656,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
9657,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
9658,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [386]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9654,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
9655,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
9656,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
9657,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
9658,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [455]:
data.columns = [x.replace(' ','_').lower() for x in data.columns]

In [456]:
data

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10836,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10837,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10838,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10839,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [426]:
data[data['type'] == 'Free']['type'].count()/data['type'].count()

0.9217229240008283

In [460]:
data

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10836,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10837,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10838,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10839,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [431]:
data[(data['category'] == 'EDUCATION') & (data['reviews'] > 1000)].reset_index(drop = True)

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Duolingo: Learn Languages Free,EDUCATION,4.7,6289924,Varies with device,"100,000,000+",Free,0,Everyone,Education;Education,"August 1, 2018",Varies with device,Varies with device
1,TED,EDUCATION,4.6,181893,18M,"10,000,000+",Free,0,Everyone 10+,Education,"July 27, 2018",3.2.5,4.1 and up
2,English Communication - Learn English for Chin...,EDUCATION,4.7,2544,18M,"100,000+",Free,0,Everyone,Education,"December 29, 2017",3.1,4.0 and up
3,Khan Academy,EDUCATION,4.6,85375,21M,"5,000,000+",Free,0,Everyone,Education,"July 27, 2018",5.0.0,4.1 and up
4,Learn English with Wlingua,EDUCATION,4.7,314299,3.3M,"10,000,000+",Free,0,Everyone,Education,"May 2, 2018",1.94.9,4.0 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,SoloLearn: Learn to Code for Free,EDUCATION,4.8,256079,7.6M,"1,000,000+",Free,0,Teen,Education,"July 12, 2018",2.2.4,4.0.3 and up
94,Kids Learn Languages by Mondly,EDUCATION,4.4,2078,Varies with device,"100,000+",Free,0,Everyone,Education;Education,"December 24, 2017",1.0.2,4.1 and up
95,Blinkist - Nonfiction Books,EDUCATION,4.1,16103,13M,"1,000,000+",Free,0,Everyone,Education,"July 31, 2018",5.7.1,4.1 and up
96,Toca Life: City,EDUCATION,4.7,31085,24M,"500,000+",Paid,$3.99,Everyone,Education;Pretend Play,"July 6, 2018",1.5-play,4.4 and up
97,Toca Life: Hospital,EDUCATION,4.7,3528,24M,"100,000+",Paid,$3.99,Everyone,Education;Pretend Play,"June 12, 2018",1.1.1-play,4.4 and up

In [461]:
data['price'] = [float(x.replace('$','')) for x in data['price']]

/var/folders/rz/lhd23qs9359bzy8d0np6pdkh0000gn/T/ipykernel_70802/2404368532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = [float(x.replace('$','')) for x in data['price']]

In [446]:
data.sort_values(by='price')

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.00,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
7338,20 Minuten (CH),NEWS_AND_MAGAZINES,3.5,14153,Varies with device,"1,000,000+",Free,0.00,Everyone 10+,News & Magazines,"August 3, 2018",Varies with device,Varies with device
7340,Calvary.ch App,LIFESTYLE,4.4,10,7.7M,500+,Free,0.00,Teen,Lifestyle,"June 25, 2018",3.8.0,4.1 and up
7341,autolina.ch has over 120'000 cars on offer.,AUTO_AND_VEHICLES,4.2,25,6.5M,"10,000+",Free,0.00,Everyone,Auto & Vehicles,"August 2, 2017",1.02,4.2 and up
7343,Digi-TV.ch,SOCIAL,NaN,62,25M,"10,000+",Free,0.00,Teen,Social,"May 3, 2018",7.1.29,4.2 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,I am Rich!,FINANCE,3.8,93,22M,"1,000+",Paid,399.99,Everyone,Finance,"December 11, 2017",1.0,4.1 and up
5364,I am rich (Most expensive app),FINANCE,4.1,129,2.7M,"1,000+",Paid,399.99,Teen,Finance,"December 6, 2017",2,4.0.3 and up
9934,I'm Rich/Eu sou Rico/أنا غني/我很有錢,LIFESTYLE,NaN,0,40M,0+,Paid,399.99,Everyone,Lifestyle,"December 1, 2017",MONEY,4.1 and up
5362,I Am Rich Pro,FAMILY,4.4,201,2.7M,"5,000+",Paid,399.99,Everyone,Entertainment,"May 30, 2017",1.54,1.6 and up
4367,I'm Rich - Trump Edition,LIFESTYLE,3.6,275,7.3M,"10,000+",Paid,400.00,Everyone,Lifestyle,"May 3, 2018",1.0.1,4.1 and up

In [492]:
ans = data.groupby(['category','type']).agg({'price':'mean', 'rating':'mean', 'reviews':'mean'})\
    .rename(columns={'price':'mean_price','rating':'mean_rating','reviews':'mean_reviews'})

In [493]:
ans['mean_price'] = [round(x,2) for x in ans['mean_price']]
ans['mean_rating'] = [round(x,1) for x in ans['mean_rating']]
ans['mean_reviews'] = [round(x,2) for x in ans['mean_reviews']]

In [494]:
ans

                        mean_price  mean_rating  mean_reviews
category          type
ART_AND_DESIGN    Free        0.00          4.3      23230.11
                  Paid        1.99          4.7        722.00
AUTO_AND_VEHICLES Free        0.00          4.2      14140.28
                  Paid        4.49          4.6       1387.67
BEAUTY            Free        0.00          4.3       7476.23
...                            ...          ...           ...
TRAVEL_AND_LOCAL  Paid        4.16          4.1       1506.08
VIDEO_PLAYERS     Free        0.00          4.0     424347.18
                  Paid        2.62          4.1       3341.75
WEATHER           Free        0.00          4.2     171249.62
                  Paid        4.05          4.4      17055.12

[63 rows x 3 columns]

In [504]:
svod = data.groupby(['category','type']).agg(mean_price=('price','mean'), mean_rating=('rating','mean'),\
                                       mean_reviews=('reviews','mean'))
svod.mean_rating = svod.mean_rating.round(1)
svod.mean_price = svod.mean_price.round(2)
svod.mean_reviews = svod.mean_reviews.round(2)

svod.to_csv('svod.csv', sep=',')

In [483]:
new = pd.pivot_table(data, index=["category", "type"], aggfunc='mean').rename(columns={'price':'mean_price','rating':'mean_rating','reviews':'mean_reviews'})

In [485]:
new['mean_price'] = [round(x,2) for x in new['mean_price']]
new['mean_rating'] = [round(x,1) for x in new['mean_rating']]
new['mean_reviews'] = [round(x,2) for x in new['mean_reviews']]

In [486]:
new

                        mean_price  mean_rating  mean_reviews
category          type
ART_AND_DESIGN    Free        0.00          4.3      23230.11
                  Paid        1.99          4.7        722.00
AUTO_AND_VEHICLES Free        0.00          4.2      14140.28
                  Paid        4.49          4.6       1387.67
BEAUTY            Free        0.00          4.3       7476.23
...                            ...          ...           ...
TRAVEL_AND_LOCAL  Paid        4.16          4.1       1506.08
VIDEO_PLAYERS     Free        0.00          4.0     424347.18
                  Paid        2.62          4.1       3341.75
WEATHER           Free        0.00          4.2     171249.62
                  Paid        4.05          4.4      17055.12

[63 rows x 3 columns]

In [488]:
new.to_csv('new.csv', sep=',')

In [468]:
ans.to_csv('df.csv', sep=',')